spring:
  application:
    name: microservice-template
  profiles:
    active: dev
  jmx:
    enabled: false
  sql:
    init:
      mode: never
  datasource:
    url: ${DB_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    driver-class-name: ${DB_DRIVER:}

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false



server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info

  endpoint:
    health:
      show-details: never
logging:
  level:
    root: INFO
    '[org.springframework.boot.autoconfigure]': INFO
    javax.management: OFF
    sun.rmi: OFF
    org.springframework.boot.actuate.endpoint.jmx: OFF
jmx:
    enabled: false
sample:
  service:
    url: http://localhost:9999  

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000
        loggerLevel: BASIC
