spring:
  application:
    name: microservice-template
  profiles:
    active: dev
  jmx:
    enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info

  endpoint:
    health:
      show-details: never
logging:
  level:
    root: INFO
    '[org.springframework.boot.autoconfigure]': INFO
    javax.management: OFF
    sun.rmi: OFF
    org.springframework.boot.actuate.endpoint.jmx: OFF
jmx:
    enabled: false